body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #272343; }

/* Navigation Bar */
#navbar {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
}

/* Navigation Bar: logo and image*/
#logo {
  margin: 0px 16px;
    margin-top: 7px;
    margin-left: 19px;
}
#logo img {
  margin: 0px;
  max-width: 72px;
}



/* Navigation Bar: list styling */

#navbar::before {
  content: "";
  position: absolute;
  height: 113px;
  width: 100%;
  z-index: -1;
  margin-top: -30px;
  top: 0;
  left: 0;
}

#navbar ul {
  display: flex;
  margin-top: -24px;
  font-family: 'Baloo Bhai', cursive;
  padding-right: 24px;
  padding-top: 26px;
}

#navbar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 1.1rem;
}
#navbar ul li a {
  color: #fff;
  display: block;
  padding: 4px 34px;
  border-radius: 5px;
  margin-top: 12px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
#navbar ul li a:hover {
  color: black;
 background-color: rgb(114, 233, 223);
}


#navbar {
  display: flex;
  justify-content: space-between; /* Align items at the ends */
  align-items: center; /* Center items vertically */
}











p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

  
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  padding: 2rem 0;
  background-color: #272343; }

h2 {
  font-size: 28px; }

/* 10 */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  position: relative; }
  .site-blocks-cover.overlay {
    position: relative; }
    .site-blocks-cover.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.2); }
  .site-blocks-cover, .site-blocks-cover > .container > .row {
    min-height: 600px;
    height: calc(100vh); }
  .site-blocks-cover h1 {
    font-size: 6.5rem;
    font-weight: 900;
    padding-left: 80px;
    line-height: 1; }
    @media (max-width: 991.98px) {
      .site-blocks-cover h1 {
        font-size: 4rem; } }
  .site-blocks-cover .sub-text {
    font-size: 1.2rem;
    color: gray;
    font-weight: 300; }
    @media (max-width: 991.98px) {
      .site-blocks-cover .sub-text {
        color: #000; } }
  .site-blocks-cover .img-wrap {
    position: absolute;
    z-index: -1;
    width: calc(100% - 50%);
    top: 0;
    height: 100%;
    z-index: 2;
    right: 50%;
    min-height: 600px;
    overflow: hidden;
    border-bottom-right-radius: 200px; }
    @media (max-width: 991.98px) {
      .site-blocks-cover .img-wrap {
        width: 100%;
        right: 0%;
        top: 0; }
        .site-blocks-cover .img-wrap .hero-slider:before {
          position: absolute;
          content: "";
          background: #fff;
          opacity: .5;
          z-index: 2;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; } }
    .site-blocks-cover .img-wrap .slide {
      height: 100vh;
      position: relative; }
      .site-blocks-cover .img-wrap .slide img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
  .site-blocks-cover .intro {
    z-index: 3;
    position: relative; }
    .site-blocks-cover .intro .heading {
      margin-left: -37px;
      padding-bottom: 30px; }
      @media (max-width: 991.98px) {
        .site-blocks-cover .intro .heading {
          margin-left: 0; } }
    .site-blocks-cover .intro .text {
      padding-left: 50px; }
      @media (max-width: 991.98px) {
        .site-blocks-cover .intro .text {
          padding-left: 0; } }

.site-menu-toggle .menu-text {
  position: relative;
  top: -6px;
  text-transform: uppercase; }

.hero-slider .owl-nav {
  position: absolute;
  bottom: 120px;
  right: 50px;
  z-index: 100; }
  .hero-slider .owl-nav .owl-prev, .hero-slider .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: #007bff;
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.3rem; }
    .hero-slider .owl-nav .owl-prev span, .hero-slider .owl-nav .owl-next span {
      color: #fff;
      font-size: 30px; }
    .hero-slider .owl-nav .owl-prev:active, .hero-slider .owl-nav .owl-prev:focus, .hero-slider .owl-nav .owl-next:active, .hero-slider .owl-nav .owl-next:focus {
      outline: none; }

.btn-pill {
  border-radius: 30px;
  padding: 15px 30px;
  border-color: #fff;
  color: #fff; }
  .btn-pill:hover {
    background: #fff;
    border-color: #fff;
    color: #000; }
